/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('file:///C|/Users/PC/Downloads/album-previews/assets/img/bg.jpg');
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	background-color:transparent;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

#main{
	text-align: center;
	position: relative;
	width: 500px;
	height: 390px;
	margin: 135px auto 0;
}

#credit{
	text-align:center;
	font-size:12px;
	color:#777;
}

/*----------------------------
	Albums
-----------------------------*/


.album{
	width:170px;
	height:170px;
	margin: 15px 5px;
	position:relative;
	
	display:inline-block;
	/*border: 4px solid #F0F0F0;*/
	background-color: #F0F0F0;
	
	/*border-radius:12px;*/
	/*box-shadow:0 -2px 0 #616161;*/
	-webkit-box-reflect: below 0 -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.1) 100%);
}

/*.album:before{
	content: '';
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	z-index:1000;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
	border:1px solid #fff;
}*/

.album img{
	top:0;
	left:50%;
	margin-left:-50%;
	opacity:0;
	width:auto;
	height:100%;	
	position:absolute;
	min-height:170px;
	min-width:170px;
}

.album img:first-child{
	opacity:1;
}

.album img,
.album:before{
	/*border-radius: 10px;*/
}

.album .preloader{
	display:none;
}

.album.loading .preloader{
	content:'';
	position:absolute;
	width:18px;
	height:18px;
	background:url('file:///C|/Users/PC/Downloads/album-previews/assets/img/preloader.png') center center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	display:block;

	/* Configure a keyframe animation for Firefox */
	-moz-animation: rotate 1s linear infinite;
	
	/* Configure it for Chrome and Safari */
	-webkit-animation: rotate 1s linear infinite;
}


/* Webkit keyframe animation */
@-webkit-keyframes rotate{
	0%{		-webkit-transform:rotate(0deg);}
	100%{	-webkit-transform:rotate(360deg);}
}

/* Firefox Keyframe Animation */
@-moz-keyframes rotate{
	0%{		-moz-transform:rotate(0deg);}
	100%{	-moz-transform:rotate(360deg);}
}


/*----------------------------
	The Footer
-----------------------------*/


/*footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
	line-height: 1.4;
	margin-top: 0;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}*/
.userPhotos .main figure{ height:170px;}
.userPhotos .main figure a{ position:relative; left:50%; margin-left:-85px; overflow:hidden; margin-bottom:0px; margin-top:0px;  }
.userPhotos .main h2{ width:170px; margin:0 auto; line-height:30px; border:1px solid #ccc; border-top:1px solid #e9e9e9; padding:0 10px; }
.userPhotos .main{ min-height:170px; margin-bottom:20px;}