@charset "utf-8";
html { }
body { font-size: 17px; width:100%; height:100%; margin:0; padding:0; font-family: 'Roboto', sans-serif; color:#737373; overflow-x:hidden; font-weight:400;  background:url(../images/body_bg.png) repeat 0 0 !important; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
a img { border:none; }
a { cursor:pointer; text-decoration:none; outline:none; }
@-moz-document url-prefix() { 
  *{ -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; }
}

/* ============ Optionals ============ */
.fleft { float:left; }
.fright { float:right; }
.clear { clear:both; }

input[type="button"], input[type="submit"] { cursor: pointer; }
input:focus, textarea:focus, input[type="text"]:focus { outline: 0; }
input:-moz-placeholder, textarea:-moz-placeholder {color: #bebebe;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #bebebe;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #bebebe;}
a:hover, a:active, a:focus, input:focus, button:focus { outline: 0;  text-decoration: none;}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/* ============ Main Styles ============ */
header{ border-top:6px solid #fbc436;}
header .container{ padding:15px 0 18px 0;}
header .search .input-group{ width:100%; padding-top:22px;}
header .search .input-group input.btn{ height:40px ; line-height:40px ; padding:0 30px ; background:#2f2f2f url(../images/menu_icon.png) no-repeat center center; color:#2f2f2f;}
header .search .find{ display:table-cell; width:50px; }
header .search .find a{ background:#fbc436; margin-left:10px; font-size:18px; color:#fff; font-weight:400; height:40px; line-height:40px; padding:0 15px; display:inline-block; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}
header .search .form-control{ float:none; height:40px; background:#f9f9f9; border-color:#ebebeb; box-shadow:none; font-size:15px; font-weight:300; color:#ababab;}
header .search .input-group .input-group-btn ul{ border-radius:0; box-shadow:none; border:none; background:#2f2f2f; padding:25px 20px 20px 20px; min-width:200px; margin:-3px 0 0 0;}
header .search .input-group .input-group-btn ul li a{ color:#dadada; display:block; background:url(../images/cat_icons.png) no-repeat 0 5px; height:40px; line-height:40px; padding:0 0 0 58px;}
header .search .input-group .input-group-btn ul li+li a, header .search .input-group .input-group-btn ul li+li a:hover{ background-position:0 -30px; }
header .search .input-group .input-group-btn ul li+li+li a, header .search .input-group .input-group-btn ul li+li+li a:hover{ background-position:0 -67px; }
header .search .input-group .input-group-btn ul li+li+li+li a, header .search .input-group .input-group-btn ul li+li+li+li a:hover{ background-position:0 -100px; }

header .search .input-group .input-group-btn ul li a:hover{ background:url(../images/cat_icons.png) no-repeat 0 5px; color:#fff; }

.curentUser { padding:12px 0 0 0; float:right; position:relative;}
.curentUser .dropdown-menu{ border:none; background:none; box-shadow:none; width:100%;background:#2f2f2f; padding:10px 8px; color:#fff; border-radius:0;}
.curentUser .dropdown-menu li a{ color:#fff; padding:10px; }
.curentUser .dropdown-menu li a:hover{ background:#454545;}
.curentUser .userImg{ border:1px solid #cacaca; width:60px; height:60px; overflow:hidden; -webkit-border-radius:100px; border-radius:100px; float:left;}
.curentUser .userName{ float:left; font-size:15px; color:#737373; float:left; padding:8px 34px 0 6px; background:url(../images/settings_icon.png) no-repeat right center;}
.curentUser .userName span{ display:block; font-weight:500;}

.navbar-header{ display:none;}
.mainNav{ background:url(../images/nav_bg.png) repeat-x 0 0;}
.mainNav nav{ margin:0;}
.mainNav nav .container-fluid{ padding:0;}
.mainNav nav .container-fluid .collapse{ padding:0;}
.mainNav nav ul li a{ padding:0 15px; height:49px; line-height:49px; color:#d1d1d1; font-size:15px; font-weight:400;}
.mainNav nav ul li a:hover, .mainNav nav ul li a:focus{ background:none; color:#fcc434;}
.mainNav nav .viewAs p{ float:left; height:34px; line-height:34px; padding-right:5px; color:#d1d1d1;}
.mainNav nav .viewAs{ padding:7px 0;}
.mainNav nav .viewAs select{ float:left; background:#e3e3e3; border:none;  -webkit-border-radius:2px; border-radius:2px; width:auto; }
.mainNav nav .viewAs select option{font-size:13px; color:#6e6e6e; font-weight:300;}

.midbody .coloumn1 aside{ background:#f9f9f9; border:1px solid #e9e9e9; border-top:none; margin-bottom:24px;}
.midbody .coloumn1 .profile{ background:#efeded;}
.midbody .coloumn1 .profile .img{ float:left; width:58px; height:58px; overflow:hidden;}
.midbody .coloumn1 .profile .details{ float:left; color:#737373; font-size:15px; padding:9px 10px;}
.midbody .coloumn1 .profile .details a{ font-size:12px; color:#a2a2a2; background:url(../images/settings_icon.png) no-repeat right center; background-size:11px 11px; padding-right:15px;}
.midbody .coloumn1 .profile .details span{ display:block; font-size:12px; color:#737373;}

.midbody .coloumn1 .sideNav{ padding:16px; border-bottom:1px solid #ececec;}
.midbody .coloumn1 .sideNav ul li{ list-style:none; }
.midbody .coloumn1 .sideNav ul li a{ color:#737373; font-size:15px; font-weight:300; padding:10px 0 10px 40px; display:block; background:url(../images/sideNav.png) no-repeat 0 0; }
.midbody .coloumn1 .sideNav ul li a:hover{ color:#000;}
.midbody .coloumn1 .sideNav ul li a span{ font-size:13px; background:#ec5a53; padding:3px 5px; color:#fff; -webkit-border-radius:2px; border-radius:2px; }
.midbody .coloumn1 .sideNav ul li:nth-child(1) a{ background-position:0 10px;}
.midbody .coloumn1 .sideNav ul li:nth-child(2) a{ background:url(../images/buzzer.png) no-repeat 5px center;}
.midbody .coloumn1 .sideNav ul li:nth-child(3) a{ background-position:0 -55px;}
.midbody .coloumn1 .sideNav ul li:nth-child(4) a{ background-position:0 -87px;}
.midbody .coloumn1 .sideNav ul li:nth-child(5) a{ background-position:0 -118px;}
.midbody .coloumn1 .sideNav ul li:nth-child(6) a{ background-position:0 -151px;}
.midbody .coloumn1 .sideNav ul li:nth-child(7) a{ background-position:0 -184px;}
.midbody .coloumn1 .sideNav ul li:nth-child(8) a{ background:url(../images/favr.png) no-repeat 8px center;}

.midbody .coloumn1 .myPhotos{ padding:16px; border-bottom:1px solid #ececec;}
.midbody .coloumn1 .myPhotos h3{ color:#737373; font-size:15px; font-weight:500; padding-bottom:16px;}
.midbody .coloumn1 .myPhotos ul li{ list-style:none; float:left; width:28%; overflow:hidden; margin:0 7% 7% 0;}
.midbody .coloumn1 .myPhotos ul li img{ width:100%;}/* height:100%;*/
.midbody .coloumn1 .myPhotos ul li:nth-child(3n+0){ margin-right:0;}


.midbody .coloumn1 .joinMailList{ padding:16px; }
.midbody .coloumn1 .joinMailList h3{ color:#737373; font-size:15px; font-weight:500; padding-bottom:6px; }
.midbody .coloumn1 .joinMailList p{ font-size:12px; font-weight:300; padding-bottom:8px; position:relative; }
.midbody .coloumn1 .joinMailList p:after{background:url(../images/jml_icon.png) no-repeat 0 0; content:""; width:48px; height:43px; top:-28px; position:absolute;}
.midbody .coloumn1 .joinMailList .form-control{-webkit-border-radius:2px; border-radius:2px; font-size:12px; font-weight:300;}
.midbody .coloumn1 .joinMailList .submit{ background:#fcc434; border:none; height:35px; line-height:35px; padding:0 20px; -webkit-border-radius:2px; border-radius:2px; color:#fff; margin-top:10px;}
.midbody ad{ padding-bottom:24px;}
.midbody ad img{ width:100%;}

/*.midbody .coloumn2{ padding:0;}*/
.midbody .coloumn2 .updateStatus{ background:#f9f8f8; border:1px solid #ececec; border-top:none; margin-bottom:15px;}
.midbody .coloumn2 .updateStatus ul{ border-bottom:1px solid #ececec; display:flex;}
.midbody .coloumn2 .updateStatus ul li{ list-style:none; float:left; height:60px; line-height:60px;}
.midbody .coloumn2 .updateStatus ul li a{ font-size:12px; font-weight:400; color:#727272; padding:5px 0 5px 55px; white-space:nowrap;}
.midbody .coloumn2 .updateStatus ul li:nth-child(2) a{ background:url(../images/update_status_icon1.png) no-repeat 25px center;}
.midbody .coloumn2 .updateStatus ul li:nth-child(3) a{ background:url(../images/update_status_icon2.png) no-repeat 25px center;}
.midbody .coloumn2 .updateStatus ul li:nth-child(4) a{ background:url(../images/update_status_icon3.png) no-repeat 25px center;}
.midbody .coloumn2 .updateStatus textarea{ border:none; box-shadow:none; background:#f9f8f8; font-size:12px; font-weight:300; resize:none;}
.midbody .coloumn2 .updateStatus .updateControls{ background:#e8e8e8; padding:10px;}
.midbody .coloumn2 .updateStatus .updateControls a{ background:#609b34; height:30px; font-size:14px; line-height:30px; padding:0 15px; display:inline-block; -webkit-border-radius:2px; border-radius:2px; color:#fff; font-weight:300;}
.midbody .coloumn2 .updateStatus .updateControls a+a{ background:#2f2f2f;}
.midbody .coloumn2 .posts{ margin-bottom:15px; }
.midbody .coloumn2 .posts article{background: #fff; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 2px; margin-bottom:15px; padding:15px 15px 0 15px;}
.posts article .pfInfo{ display:flex; margin-bottom:15px;}
.posts article .pfInfo .pfImg{ border:1px solid #ccc; margin-right:10px;}
.posts article .pfInfo .pfImg{ width:50px; height:50px;}
.posts article .pfInfo .pfImg img{ width:100%;}
.posts article .pfInfo .pfInfoDetails h5{ font-weight:300; font-size:16px; padding-top:5px; }
.posts article .pfInfo .pfInfoDetails h5 .pfname{ font-weight:500; text-transform:capitalize;}
.posts article .pfInfo .pfInfoDetails h5 a{ color:#2c2c2c;}
.posts article .pfInfo .pfInfoDetails .date{ color:#606060; font-weight:300; font-size:14px; margin-top:6px; display:block;}
.posts article .userContent{ border:1px solid #ccc; border-radius: 3px; padding-bottom:10px;}
.posts article .userContent figure img{ width:100%;}
.posts article .userContent h3{ font-size:18px; color:#2c2c2c; padding:10px;}
.posts article .userContent p{ font-weight:300; font-size:14px; padding:0 10px;}
.posts article .sharingLink{ padding:10px 0;}
.posts article .sharingLink a{ font-weight:300; font-size:14px; margin-right:10px;}
.posts article .commentBox{ background:#f3f3f3; margin:0 -15px; padding:15px 15px 5px; border-top:1px solid #e7e5e5;}
.posts article .commentBox figure{ float:left;}
.posts article .commentBox figure img{ width:40px; height:40px; border:1px solid #ccc;}
.posts article .commentBox textarea{ width:100%;  resize:none; font-size:12px; font-weight:300; overflow-y:hidden; padding:10px 40px 10px 10px; border:1px solid #ccc; max-height:40px; }
.posts article .commentBox .postAComment{ float:left; width:92%;}
.posts article .commentBox .postACommentInner{ padding-left:15px; position:relative;}
.posts article .commentBox .postACommentInner em{ font-size:11px; font-weight:300; font-style:normal;}
.posts article .commentBox .postACommentInner .upload{ position:absolute; color:#4e4e4e; right:10px; font-size:20px; top:7px;}

.midbody .coloumn3 aside{background:#f9f8f8; border:1px solid #ececec; border-top:none; margin-bottom:15px;}
.midbody .coloumn3 aside .pendingRequest{ padding:18px 12px; border-bottom:1px solid #ececec;}
.midbody .coloumn3 aside h3{ font-size:15px; color:#737373; padding-bottom:15px;}
.midbody .coloumn3 aside .pendingRequest ul li{ list-style:none; display:flex; padding-bottom:15px;}
.midbody .coloumn3 aside .pendingRequest figure{ width:60px; height:60px; overflow:hidden;}
.midbody .coloumn3 aside .pendingRequest figure img{width:60px; height:60px;}
.midbody .coloumn3 aside .pendingRequest .disc{ padding-left:8px;}
.midbody .coloumn3 aside .pendingRequest .disc h4{ color:#737373; font-size:15px; padding-bottom:15px;}
.midbody .coloumn3 aside .pendingRequest .disc a{ display:inline-block; font-size:12px; color:#fff; background:/*#609b34*/#fbc436; height:30px; line-height:30px; padding:0 10px; -webkit-border-radius:2px; border-radius:2px;}
.midbody .coloumn3 aside .pendingRequest .disc a+a{ background:#609b34; margin-left:3px;}
.midbody .coloumn3 aside .pendingRequest .disc a+a+a{ background:#2f2f2f; margin-left:3px;}
.midbody .coloumn3 aside .link{ color:#a7a7a7; font-size:14px; font-weight:400;}

.midbody .coloumn3 aside .latestFriends{ padding:18px 12px; border-bottom:1px solid #ececec;}
.midbody .coloumn3 aside .latestFriends ul li{ float: left;  list-style: outside none none;  margin: 0 7% 7% 0;  overflow: hidden;   text-align:center; width:28%;}
.midbody .coloumn3 aside .latestFriends ul li img{width:100%;}/*height:100%;(this property removed due to image getting disturbed in posts.php at friends lists images)*/
.midbody .coloumn3 aside .latestFriends ul li a img{ width:auto; height:auto; display:block;}
.midbody .coloumn3 aside .latestFriends ul li:nth-child(3n) {  margin-right: 0;}

.midbody .ad img{ width:100%;}

.midbody .coloumn3 aside .companies{ padding:18px 12px; border-bottom:1px solid #ececec;}
.midbody .coloumn3 aside .companies ul li{ display:flex;}
.midbody .coloumn3 aside .companies ul li+li{ margin-top:10px; padding-top:10px; border-top:1px solid #CCC;}
.midbody .coloumn3 aside .companies ul li figure img{ width:80px; height:80px;}
.midbody .coloumn3 aside .companies ul li .content{ padding-left:10px;}
.midbody .coloumn3 aside .companies ul li .content h4{ font-size:14px; color:#737373; padding-bottom:15px; font-weight:400;}
.midbody .coloumn3 aside .companies ul li .content p{ font-size:14px; color:#737373; padding-bottom:15px; font-weight:300;}
.midbody .coloumn3 aside .companies ul li .content p span{ display:block; }
.midbody .coloumn3 aside .companies ul li .content a{font-size:13px; color:#737373; padding-bottom:15px; font-weight:300; margin-right:14px;}

footer.post{ background:#1c1c1c; text-align:center; padding:18px 0;}
footer.post ul li{ display:inline; padding:0 10px; }
footer.post ul li a, footer.post p{ font-size:12px; color:#dfdfdf; font-weight:300;}
footer.post p{ padding-top:10px;}


/*Index Page Styles*/
header .userLogin{ float:right; width:100%}
header .userLogin .field{ float:left; padding-right:10px; width:40%;}
header .userLogin .field label{ font-size:15px; color:#545454; padding-bottom:3px; font-weight:400;}
header .userLogin .field input{ background:#f7f5f5; border:1px solid #f0f0f0; box-shadow:none; -webkit-border-radius:2px; border-radius:2px; font-size:12px; color:#959595; font-weight:300;}
header .userLogin .submit{ float:left;}
header .userLogin .submit input{ width:66px; height:34px; background:#313131; line-height:30px; border:none; color:#fcc434; -webkit-border-radius:3px; border-radius:3px; margin-top:25px;}

.banner{ background:#424242 url(../images/banner_img.png) no-repeat center 0; min-height:692px; overflow:hidden; background-size:cover;}
.banner .title{ text-align:center; padding:64px 0 30px 0;}
.banner .title h2, .banner .title h3, .banner .title h4{text-shadow: 0 3px 5px #2E2E2E;}
.banner .title h2{ font-size:66px; color:#fff; text-transform:uppercase; font-weight:700;}
.banner .title h2 span{ color:#fcc434;}
.banner .title h3{ font-size:44px; color:#cecece; text-transform:uppercase; font-weight:700;}
.banner .title h3 span{ color:#fff;}
.banner .title h4{ font-size:35px; color:#fff; }
.banner .title h4 span{ color:#fcc434;}
.banner .signupToday{ background:#fff url(../images/shadow.png) no-repeat center bottom; padding:24px 20px; position:relative; overflow:hidden;}
.banner .signupToday:before{ width:40px; height:40px; content:""; background:#fcc434; position:absolute; top:-20px; left:-20px; 
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
}
.banner .signupToday:after{ width:40px; height:40px; content:""; background:#fcc434; position:absolute; top:-20px; right:-20px; 
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
}

.banner .signupToday h2{ font-size:25px; color:#343536; font-weight:400; padding:8px 0 20px 78px; margin-bottom:20px; background:url(../images/signup_icon.png) no-repeat 0 0; border-bottom:1px solid #f1f4f5;}
.banner .signupToday h2 span{ display:block; font-size:23px; }
.banner .signupToday h2 span em{ font-style:normal; color:#fcc434; font-weight:700; font-size:27px;}
.banner .signupToday p{ font-size:16px; color:#545454; font-weight:300; padding-bottom:35px;}
.banner .signupToday .rgButtons{ display:flex; padding-bottom:25px;}
.banner .signupToday .rgButtons .button{ width:40%; margin:0 5%;}
.banner .signupToday .rgButtons span{ font-size:18px; color:#4c4c4c; font-weight:400; display:block; padding-bottom:15px;}
.banner .signupToday .rgButtons a{ height:74px; line-height:74px; color:#fff; text-align:center; display:block; background:#4c4c4c; -webkit-border-radius:6px; border-radius:6px; font-size:24px;}
.banner .signupToday .rgButtons .button+.button a{ background:#fcc434;}

.aboutBzz{ background:url(../images/aboutbzz.png) no-repeat right 170px; padding:35px 0 0 0 !important;}
.aboutBzz .block1 #video_player{ background:url(../images/vd_bg.png) no-repeat 0 0; background-size:100% auto; padding-bottom:20%;}
.aboutBzz .block1 #video_player video{ margin:0; padding:28px 30px 25px 30px; width:100%; height:100%;}
.aboutBzz .block1 h3{ font-size:50px; color: #333333; text-transform:uppercase; font-weight:700; text-align:center; padding-top:40px;}
.aboutBzz .block1 h3 span{ color:#ffc400;}

.aboutBzz .block2{ text-align:center; padding-bottom:38px;}
.aboutBzz .block2 h4{ font-size:35px; color:#616161; font-weight:400; padding:35px 0 25px; margin-bottom:25px; position:relative;}
.aboutBzz .block2 h4:before{border-bottom: 1px solid #d3d3d3; content: ""; height: 5px; left: 25%;  position: absolute;  right: 50%; width: 50%; bottom:0;}
.aboutBzz .block2 h4:after{border-bottom: 1px solid #fdc400; content: ""; height: 5px; left: 38%;  position: absolute;  right: 50%; width: 25%;  bottom:0;}
.aboutBzz .block2 h4 span:before { background: url("../images/circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: -5px; content: ""; display: inline-block; height: 11px; left: 25%; position: absolute; right: 50%;
 width: 50%;}
.aboutBzz .block2 h4 span:after { background: url("../images/circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: -5px;  content: ""; display: block; height: 11px; left: 75%; position: absolute; right: 50%;   text-align: end; width: 25%;}
.aboutBzz .block2 h4 span em{ font-style:normal; color:#fdc400;}
.aboutBzz .block2 p{ font-size:18px; font-weight:300; color:#616161; line-height:30px;}

.howWorks{ background:url(../images/howWorks_bg.png) repeat 0 0; text-align:center; padding-bottom:60px;}
.howWorks h3{ font-size:63px; color:#fff; text-align:center; padding:50px 0;}
.howWorks h3 span{ color:#000;}
.howWorks .step{ padding-top:100px; padding-bottom:100px;}

.whyBzz{ padding:50px 0; text-align:center;}
.whyBzz h3{ font-size:66px; font-weight:500; color:#000; padding-bottom:50px;}
.whyBzz h3 span{ color:#fdc70f;}
.whyBzz h4{font-size:25px; color:#000; position:relative; padding-bottom:20px; margin-bottom:20px;}
.whyBzz h4 em{ color:#fdc70f; font-style:normal;}
.whyBzz h4:before{border-bottom: 1px solid #d3d3d3; content: ""; height: 5px; left: 20%;  position: absolute;  right: 50%; width: 60%; bottom:0;}
.whyBzz h4:after{border-bottom: 1px solid #fdc400; content: ""; height: 5px; left: 35%;  position: absolute;  right: 50%; width: 30%;  bottom:0;}
.whyBzz h4 span:before { background: url("../images/circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: -5px; content: ""; display: inline-block; height: 11px; left: 20%; position: absolute; right: 50%;
 width: 50%;}
.whyBzz h4 span:after { background: url("../images/circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: -5px;  content: ""; display: block; height: 11px; left: 80%; position: absolute; right: 50%;   text-align: end; width: 25%;}
.whyBzz p{ font-size:18px; font-weight:300; color:#616161; line-height:30px;}

footer.home{ text-align:center; padding:40px 0 46px 0; background:url(../images/hm_ft_bg.png) repeat-x center 0;} 
footer.home h3{ font-size:39px; color:#fff; font-weight:500; padding-bottom:80px;}
footer.home h3 span{ display:block; font-size:34px; padding-top:10px; }
footer.home h3 em{ color:#fdc70f; font-style:normal;}


.pfSettings h2{ background:url(../images/sideNav.png) no-repeat 0 -149px; padding:0 0 0 35px; height:42px; line-height:45px; font-size:18px ;}
.pfSettings .nav-tabs{ background:#fbc436; border-bottom:3px solid #1c1c1c; margin-bottom:15px;}
.pfSettings .nav-tabs li a{ font-size:14px; color:#fff; border-radius:0; border:none;}
.pfSettings .nav-tabs > li.active > a, .pfSettings .nav-tabs > li.active > a:hover, .pfSettings .nav-tabs > li.active > a:focus{ background:#000; border:none; color:#fff;}
.pfSettings .nav > li > a:hover, .pfSettings .nav > li > a:focus{ background:#000;}
.pfSettings .pfpic{ text-align:center; float:none !important; padding:20px 0;}
.pfSettings .pfpic span{ display:block;}
.pfSettings .tab-pane{ padding:0 10px;}
.pfSettings .tab-pane h4{ font-size:15px; color:#353535; font-weight:500; padding-bottom:10px; border-bottom:1px solid #d8d8d8; margin-bottom:20px;}
.pfSettings .tab-pane .form-control{  border: 1px solid #e3e3e3;  box-shadow: none;  color: #a8a8a8;  font-size: 12px;  font-weight: 300;   height:40px; margin-bottom:26px; border-radius:3px; }
.pfSettings .tab-pane .select{ margin-bottom:26px;}
.pfSettings .tab-pane .fmbtn{ border-radius:2px; border:none; background:#609b34; color:#fff; font-size:12px; font-weight:700; height:34px; padding:0 10px; margin-bottom:20px;}

.pfSettings .upload{ text-align:center; margin-bottom:15px;} 
.fileinput-button { position: relative; overflow: hidden; }
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
/* Fixes for IE < 8 */
@media screen\9 {.fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%; }}
.pfSettings .smbtn{ background:#609b34; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.pfSettings .tab-pane textarea{height:70px !important; margin-bottom:20px !important;}
.pfSettings .add{ background:#2f2f2f; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.pfSettings .radio label{ font-weight:300;}


.aboutme h2{ background:url(../images/about.png) no-repeat 0 center; padding:0 0 0 30px; height:42px; line-height:42px; font-size:18px;}
.aboutme .nav-tabs{ border:none;}
.aboutme .nav-tabs li{ float:none; list-style:none; border-bottom:1px solid #eeeeee;}
.aboutme .nav-tabs li:last-child{ border:none;}
.aboutme .nav-tabs li a{ border:none !important; background:none !important; color:#737373; font-weight:300; line-height:50px; display:block; }
.aboutme .nav-tabs li.active a{ font-weight:500;}
/*.aboutme .tab-pane{ padding:15px 0;}*/
.aboutme .tab-pane h4{ color:#fbc436; padding-bottom:8px;}
.aboutme .tab-pane p{ color:#737373; font-size:14px; /*padding-bottom:25px;*/ font-weight:300;}
.aboutme .tab-content{ border-left:1px solid #eeeeee; min-height:200px;}


.aboutme .nav-tabs li.active:before { border-left: 3px solid #fbc436;  content: "";   height: 47px;   left: 0;  position: absolute;}



/*====NEW Pages====*/

.messageSt h2{ background:url(../images/sideNav.png) no-repeat 0 8px; padding:0 0 0 35px; height:42px; line-height:42px; font-size:18px;}
.messageSt .nav-tabs{ background:#fbc436; border-bottom:3px solid #1c1c1c; margin-bottom:15px;}
.messageSt .nav-tabs li a{ font-size:14px; color:#fff; border-radius:0; border:none;}
.messageSt .nav-tabs > li.active > a, .pfSettings .nav-tabs > li.active > a:hover, .pfSettings .nav-tabs > li.active > a:focus{ background:#000; border:none; color:#fff;}
.messageSt .nav > li > a:hover, .pfSettings .nav > li > a:focus{ background:#000;}
.messageSt .pfpic{ text-align:center; float:none !important; padding:20px 0;}
.messageSt .pfpic span{ display:block;}
.messageSt .tab-pane{ padding:0 10px;}
.messageSt .tab-pane h4{ font-size:15px; color:#353535; font-weight:500; padding-bottom:10px; border-bottom:1px solid #d8d8d8; line-height:32px; }
.messageSt .tab-pane .form-control{  border: 1px solid #e3e3e3;  box-shadow: none;  color: #a8a8a8;  font-size: 12px;  font-weight: 300;   height:32px; margin-bottom:26px; border-radius:3px; }
.messageSt .tab-pane .fmbtn{ border-radius:2px; border:none; background:#609b34; color:#fff; font-size:12px; font-weight:700; height:34px; padding:0 10px; margin-bottom:20px;}

.messageSt .upload{ text-align:center; margin-bottom:15px;} 
.fileinput-button { position: relative; overflow: hidden; }
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
/* Fixes for IE < 8 */
@media screen\9 {.fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%; }}
.messageSt .smbtn{ background:#609b34; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.messageSt .tab-pane textarea{height:70px !important; margin-bottom:20px !important;}
.messageSt .add{ background:#2f2f2f; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.messageSt .radio label{ font-weight:300;}

.messageSt .messages{ clear:both; }

.messageSt .messages input{ float:left; margin-top:12px; margin-left:5px  }
.messageSt .messages span{  display:block; font-size:14px;  padding:0 10px; float:left; line-height:36px;  }
.messageSt .messages span.sub{ width:30%; cursor: pointer;}
.messageSt .messages span.sub.unread{font-weight:bold; }
.messageSt .form-group{ margin-bottom:0px; }
.messageSt #compose{ padding-bottom:20px; }

.groupsSt > h2{ background:url(../images/sideNav.png) no-repeat 0 -55px; padding:0 0 0 35px; height:42px; line-height:45px; font-size:18px;  }
.groupsSt .tabBar{ padding:10px 0; background:#fbc436; border-bottom:2px solid #000; }
.groupsSt .tabBar span{ display:inline-block;  line-height:34px; padding-right:10px; color:#fff;   }
.groupsSt .form-group{ margin-bottom:0px; }
.groupsSt .form-group div .col-md-6 select{ margin:20px 0; }
.groupsSt .tabBar .black{ background:#000; border:0px;  }
.groupProperty{ padding:10px; background:#f9f9f9; border-top:1px solid #ccc;   }
.groupProperty .groupBlock{ float:left; padding:0 20px 0 10px;  }
.groupProperty .groupBlock h3{ font-size:12px; font-weight:bold; color:#9e9d9d;  }
.groupProperty .groupBlock p{ color:#696969; }
.groupProperty .groupBlock a{ line-height:30px; display:block; float:left; color:#000; margin-left:20px; }

.groupsSt .tabBar .form-control{ border:none; border-radius:0;}
.groupsSt .tabBar p .btn{border:none; border-radius:0; line-height:22px; background:#000; color:#fff; padding-right:0; margin:0;}


/* Form Fields */

.FormFields{ padding-top:20px; }
.FormFields textarea{ width:100%; height:150px; }
.FormFields span{ display:block; }
.groupEditBlock{ padding:10px 0 ; padding-left:10px; }
.smallBtn{ line-height:18px; font-size:12px; padding:10px 12px !important;  }
.form-group .buttons{ padding-top:38px; }
.black{ background:#000; border:0px;}
.black:hover{background:#000; }
.jobsSt h2{ background:url(../images/sideNav.png) no-repeat 0 -87px; padding:0 0 0 35px; height:42px; line-height:42px; font-size:18px;  }

.jobProperty:first-child{ padding:10px; border:1px solid #e9e9e9; margin:10px 0; position:relative;color: #ffffff; }
.jobProperty .jobBlock{ float:left; padding:0 20px 0 10px; width:30%;}
.jobProperty .jobBlock+.jobBlock{ width:30%;}
.jobProperty .jobBlock+.jobBlock+.jobBlock{ width:20%;}
.jobProperty .jobBlock+.jobBlock+.jobBlock+.jobBlock{ width:20%;}
.jobProperty .jobBlock h3{ font-size:12px; font-weight:bold; color:#9e9d9d;}
.jobProperty .jobBlock p{ color:#696969; }
.jobProperty .jobBlock a{ line-height:30px; display:block; float:left; color:#000; margin-left:20px; }

.EventProperty:first-child{ padding:10px; border-top:1px solid #ccc;  background: none repeat scroll 0 0 #333333; color: #ffffff; }
.EventProperty .EventBlock{ float:left; padding:0 20px 0 10px; width:30%;}
.EventProperty .EventBlock+.EventBlock{ width:30%;}
.EventProperty .EventBlock+.EventBlock+.EventBlock{ width:20%;}
.EventProperty .EventBlock+.jobBlock+.jobBlock+.jobBlock{ width:20%;}
.EventProperty .EventBlock h3{ font-size:12px; font-weight:bold; color:#9e9d9d; }
.EventProperty .EventBlock p{ color:#696969; }
.EventProperty .EventBlock a{ line-height:30px; display:block; float:left; color:#000; margin-left:20px; }

.EduProperty{ padding:10px; background:#f9f9f9; border-top:1px solid #ccc;   }
.EduProperty .EduBlock{ float:left; padding:0 10px 0 10px; width:33%;}
.EduProperty .EduBlock:first-child { width: 22%;}
.EduProperty .EduBlock+.EduBlock{ width:22%;}
.EduProperty .EduBlock+.EduBlock+.EduBlock{ width:37%;}
.EduProperty .EduBlock+.EduBlock+.EduBlock+.EduBlock{ width:18%;}
.EduProperty .EduBlock h3{ font-size:12px; font-weight:bold; color:#9e9d9d;  }
.EduProperty .EduBlock p{ color:#696969; }
.EduProperty .EduBlock a{ line-height:30px; display:block; float:left; color:#000; margin-left:20px; }


.myCompany{ text-align:left; padding-bottom:20px;}
.myCompRight{ float:right;}

.companyFollow{ margin-bottom:20px;}
.companyFollow ul{ list-style:none;}
.companyFollow li{ list-style:none;}
.companyFollow li img{ float:left;}

/*Create Jobs*/
.createjob p{  font-family: 'Roboto', sans-serif; background:url(../images/creatbg.png)  no-repeat 0 3px; font-size:15px; line-height:20px; color:#121313; padding:0 0 0 22px;}
.createjob span{ font-family: 'Roboto', sans-serif; font-size:14px; color:#6a6a6b; display:block; padding:5px 0; border-bottom:1px dashed #dbdbdb;}
.createjob samp{ font-family: 'Roboto', sans-serif; font-size: 15px; color:#121313; margin-right:5px;}
.createbutton{ background:#fbc436 !important; margin-left:10px; margin-top:5px; font-size:16px; color:#fff; font-weight:400; line-height:32px; padding:0 15px; display:inline-block; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;  border:none !important;}
.createjobs{ font-size:15px !important; line-height:20px; color:#121313; padding:0 0 0 22px; background:none !important; padding-top:30px !important;}


/* Form Fields */
#job-create-popup-black{ margin:0 auto; margin-top:10px; }
#job-create-popup-black p{  font-family: 'Roboto', sans-serif; font-size:22px;  color:#242424; padding:0 0 10px 0; border-bottom:1px solid #e9e9e9; text-align:center;}
.job-popup-headers{ background:#292727; font-size:18px; line-height:20px; color:#fff; padding:10px 10px; border-bottom:1px solid #e9e9e9;}

.forms{ margin:10px 0 30px 0;}
.forms label{ font-size:16px !important;  font-family: 'Roboto', sans-serif; color:#8a8989; text-align:left; line-height:20px; font-weight:none !important; padding-bottom:6px;}
.forms span{ display:block;width:100%;}
.forms input.medium{line-height:20px; width:100%; }
.forms input.large{line-height:20px;  width:100%;}
.forms select.large{line-height:20px; width:100%; }
.forms select.medium{line-height:20px; width:100%; }
.forms textarea{line-height:20px; width:100%; }
.newbutton{ margin:0 0 16px 0;}
.cancelbutton{ margin:0 0 16px 0;  background:#e6e3e5 !important; margin-left:10px; margin-top:5px; font-size:16px; color:#222121; font-weight:400; line-height:32px; padding:0 15px; display:inline-block; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;  border:none !important;}


/* my styles Suresh */
.select { margin-bottom:15px; display:block;}
.select .jqTransformSelectWrapper{ width:100% !important; height:40px;}
.select .jqTransformSelectWrapper div span{ padding:0 !important;  border: 1px solid #e3e3e3;  border-radius: 0;  box-shadow: none;  color: #a8a8a8;  font-size: 12px;  font-weight: 300; height: 40px; line-height:40px;  text-indent:15px; background:#fff;}
.select .jqTransformSelectWrapper ul{ top:40px !important; width:100% !important;}
.select .jqTransformSelectWrapper a.jqTransformSelectOpen{ background:#e2e2e2 url(../images/downArrow.png) no-repeat center 0; width:44px; height:40px;}


.tab-content .send{ padding:0 15px;}
.tab-content .send input{ background:#000; border:none; text-transform:capitalize;}
.del{ background:#000; border:none;}
.del:hover{ background:#ff3737; border:none;}
.glyphicon-remove{ color:#ff5c68 !important;}
.groupProperty .groupBlock h3{ font-weight:normal !important; color:#4f4f4f; font-size:14px;}
.groupProperty .groupBlock{ padding:0; width:25%;}
.groupProperty .groupBlock a{ display:inline-block; float:none;}
.groupProperty .groupBlock.pull-right{ text-align:right;}
.groupProperty .groupBlock p{ font-size:15px; line-height:30px;}
.groupProperty{ border-top:1px solid #ebebeb;}
.groupProperty:first-child, .EduProperty:first-child, .EventProperty:first-child{background: none repeat scroll 0 0 #333333; color: #ffffff;}
.groupProperty:first-child .groupBlock h3, .EduProperty:first-child .groupBlock h3, .jobProperty:first-child .jobBlock h3, .EventProperty:first-child .EventBlock h3{color: #ffffff;}

.ajax-upload-dragdrop{ border:none !important; width:auto !important; padding:0 !important;}
.ajax-upload-dragdrop span{ display:none !important;}
.ajax-file-upload{    background: none repeat scroll 0 0 #000000 !important; box-shadow:none !important;
    display: inline-block !important;
    height: auto !important;
    margin: 0 15px 0 0 !important;
    padding: 8px 15px !important; float:right;}
.ajax-file-upload input{ width:100%;}	
.ajax-file-upload-statusbar{ border:none !important;  position:relative;}
.ajax-file-upload-statusbar{ clear:both; width:100% !important; margin:15px 0 0 0 !important; display:inline-block;}
.ajax-file-upload-progress{ width:70% !important;}
.ajax-file-upload-filename{ margin:0 !important; display:none;}
.ajax-file-upload-bar{ background:#333 !important;}
.ajax-file-upload-progress{ border:1px dashed #555555 !important;}

.groupEditBlock .pfpic a{ display:block;}




.view { width: /*29%*/137px; height: 137px; margin: 2px; border:3px solid #e1e1e1; float: left; overflow: hidden; position: relative; text-align: center; cursor: default; }
.view .mask, .view .content { width: 29%; height: 160px; position: absolute; overflow: hidden; top: 0; left: 0; }
.view img { display: block; position: relative; }
.view a.info { background: url(../images/link.png) center no-repeat; display: inline-block; text-decoration: none; padding: 0; text-indent: -9999px; width: 20px; height: 20px; }

.second-effect .mask { opacity: 0; overflow: visible; border: 0px solid rgba(0,0,0,0.7); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.second-effect a.info { position: relative; top: -35px; left:-30px; opacity: 0; -moz-transform: scale(0, 0); -webkit-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out; -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out; -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out; -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out; transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out; }
.second-effect:hover .mask { opacity: 1; border: 85px solid rgba(0,0,0,0.7); }
.second-effect:hover a.info { opacity: 1; -moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; -ms-transition-delay: 0.3s; transition-delay: 0.3s; }

.myfriends .groupEditBlock figure{ width:35% !important;}
.myfriends .groupEditBlock figure img{ width:100% !important; height:auto !important;}
.myfriends .groupEditBlock li{ list-style:none; padding:0 !important;}
.myfriends .groupEditBlock li .friendInfo{ width:58%; float:right;}
.myfriends .groupEditBlock li .friendInfo span{ font-size:12px; color:#9c9c9c;}
.myfriends .select{ display:inline-block !important; width:100%; margin:10px 0 0 0 !important;}
.myfriends .select .jqTransformSelectWrapper{ height:30px;}
.myfriends .select .jqTransformSelectWrapper div span{ width:100% !important; height:30px; line-height:30px;}
.myfriends .select .jqTransformSelectWrapper a.jqTransformSelectOpen{ height:30px; line-height:30px; width:30px; background-size:30px auto; }
.myfriends .select .jqTransformSelectWrapper ul{ top:30px !important;}
.myfriends .groupEditBlock{ padding:0;}
.myfriends .groupEditBlock li .fdblock{ padding:10px; display:inline-block; width:93%; border:1px solid #dedede; margin:10px;}





/*My Company*/
.myCompany{ text-align:left; padding-bottom:20px;}
.myCompRight{ float:right;}
.companyFollow{ padding:10px 0;border-bottom:1px solid #dedbdb;}
.companyFollow+.companyFollow{ border-top:1px solid #fff; }
.companyFollow div.im{ text-align:center; }
.companyFollow img{ display:inline; }
#AddCompany .modal-title{ font-weight:700; color:#fff;  }
#AddCompany .modal-header{ background:#fbc436 !important; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px; }
#AddCompany h2{ background:url(../images/settings_icon1.png) no-repeat 0 center; padding:0 0 0 30px; height:42px; line-height:42px; font-size:18px;}
#AddCompany .nav-tabs{ background:#fbc436; border-bottom:3px solid #1c1c1c; margin-bottom:15px;}
#AddCompany .nav-tabs li a{ font-size:14px; color:#fff; border-radius:0; border:none;}
#AddCompany .nav-tabs > li.active > a, #AddCompany .nav-tabs > li.active > a:hover, #AddCompany .nav-tabs > li.active > a:focus{ background:#000; border:none; color:#fff;}
#AddCompany .nav > li > a:hover, #AddCompany .nav > li > a:focus{ background:#000;}
#AddCompany .pfpic{ text-align:center; float:none !important; padding:20px 0;}
#AddCompany .pfpic span{ display:block;}
#AddCompany .modal-body{ padding:0 10px;}
#AddCompany .modal-body h4{ font-size:15px; color:#353535; font-weight:500; padding-bottom:10px; border-bottom:1px solid #d8d8d8; margin-bottom:20px;}
#AddCompany .modal-body .form-control{  border: 1px solid #e3e3e3;  box-shadow: none;  color: #a8a8a8;  font-size: 12px;  font-weight: 300;   height:32px; margin-bottom:26px; border-radius:3px; }
#AddCompany .modal-body .fmbtn{ border-radius:2px; border:none; background:#609b34; color:#fff; font-size:12px; font-weight:700; height:34px; padding:0 10px; margin-bottom:20px;}

#AddCompany .upload{ text-align:center; margin-bottom:15px;} 
.fileinput-button { position: relative; overflow: hidden; }
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
/* Fixes for IE < 8 */
@media screen\9 {.fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%; }}
#AddCompany .smbtn{ background:#609b34; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
#AddCompany .modal-body textarea{height:70px !important; margin-bottom:20px !important;}
#AddCompany .add{ background:#2f2f2f; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
#AddCompany .radio label{ font-weight:300;}



/*My Messages*/
.messageSt h2{ background:url(../images/sideNav.png) no-repeat 0 8px; padding:0 0 0 35px; height:42px; line-height:42px; font-size:18px;}
.messageSt .nav-tabs{ background:#fbc436; border-bottom:3px solid #1c1c1c; margin-bottom:15px;}
.messageSt .nav-tabs li a{ font-size:14px; color:#fff; border-radius:0; border:none;}
.messageSt .nav-tabs > li.active > a, .pfSettings .nav-tabs > li.active > a:hover, .pfSettings .nav-tabs > li.active > a:focus{ background:#000; border:none; color:#fff;}
.messageSt .nav > li > a:hover, .pfSettings .nav > li > a:focus{ background:#000;}
.messageSt .pfpic{ text-align:center; float:none !important; padding:20px 0;}
.messageSt .pfpic span{ display:block;}
.messageSt .tab-pane{ padding:0 10px;}
.messageSt .tab-pane h4{ font-size:15px; height: 46px; color:#353535; font-weight:500; padding-bottom:10px; border-bottom:1px solid #d8d8d8; line-height:32px; }
.messageSt .tab-pane .form-control{  border: 1px solid #e3e3e3;  box-shadow: none;  color: #a8a8a8;  font-size: 12px;  font-weight: 300;   height:32px; margin-bottom:26px; border-radius:3px; }
.messageSt .tab-pane .fmbtn{ border-radius:2px; border:none; background:#609b34; color:#fff; font-size:12px; font-weight:700; height:34px; padding:0 10px; margin-bottom:20px;}

.messageSt .upload{ text-align:center; margin-bottom:15px;} 
.fileinput-button { position: relative; overflow: hidden; }
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
/* Fixes for IE < 8 */
@media screen\9 {.fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%; }}
.messageSt .smbtn{ background:#609b34; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.messageSt .tab-pane textarea{height:70px !important; margin-bottom:20px !important;}
.messageSt .add{ background:#2f2f2f; border:none; margin-bottom:20px; font-size:15px; color:#fff; font-weight:500; padding:3px 8px; -webkit-border-radius:3px; border-radius:3px; float:right;}
.messageSt .radio label{ font-weight:300;}

.messageSt .message{ clear:both; padding:0 10px 10px;  }
.messageSt .messages input{ float:right; margin-top:12px; margin-left:5px    }
.messageSt .messages img{ float:left;}
.messageSt .messages h3{ font-size:12px; line-height:20px; background:#ccc; padding-left:10px;  margin: 0 -10px; margin-bottom:5px;    }
.messageSt .messages h5{ font-weight:700; border-bottom:1px solid #dedede; line-height:20px; font-size:14px; float:left; }
.messageSt .messages span.sub{  display:block; font-size:14px;  padding:5px 10px;  line-height: 22px; float:left; }
.messageSt .messages span.sub{ width:80%;}
.messageSt .messages span.sub.unread{font-weight:bold;}
.messageSt .messages span.sub span{ display:block; clear:both; }
.messageSt .form-group{ margin-bottom:0px; }
.messageSt #compose{ padding-bottom:20px; }
.messageSt .button a{ margin-left:10px; } 
.messageSt .small-text{ font-size:12px; padding: 3px 5px; }
.messageSt .messages h3.unread{ background:#85a985; color:#fff; }
.convBox span.sub{ width:85%; padding:0 5px; }
.convBox img{ width:8%; height:auto;}
.convBox{ padding:5px 0; }
.convBox.recieve{ background:url(../images/bottomRight.png) right bottom no-repeat; }
.convBox.reply{ background:url(../images/bottomLeft.png) left bottom no-repeat; }
.convBox.recieve span.sub,.convBox.recieve img{ float:right; text-align:right; }
.convBox.reply span.sub,.convBox.reply img{ float:left;}
.convBox .sub h5{ font-size:12px; font-weight:bold; }
.convBox .sub span{ font-size:14px;}

.btn-black{background-color: #000;
    border-color: #000;
    color: #fff;}
    .btn-black:hover{ color:#fff; background:#696969; }
    .messageSt .tab-pane textarea.form-control{ margin-bottom:10px !important; }
    .messageSt .replyBlock{ padding:10px 0;}

<<<<<<< HEAD


/*Company*/
.company .cmpLeft{ padding:0;}
.company .visitorBox .visitiBoxInner{ padding:5px; background:#f9f8f8; margin:15px 0; border:1px solid #e9e9e9; position:relative; }
.company .visitorBox .visitiBoxInner .compCover{ width:100%; height:300px; overflow:hidden; position:relative;}
.company .visitorBox .visitiBoxInner .compCover img{ width:100%; }
.company .visitorBox .visitiBoxInner .companyDetails{ position:absolute; top:0; width:100%;}
.company .visitorBox .visitiBoxInner .companyDetails .cmplogo{ display:flex;}
.company .visitorBox .visitiBoxInner .companyDetails .cmplogo img{ width:100%; height:165px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmplogo { border: 1px solid #868686; display: flex; margin: 68px 7px 0 0; padding: 6px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent{ padding:70px 0 0 25px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent h2{ color:#fff; font-size:20px; text-transform:uppercase; padding-bottom:15px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent h2 span{ margin:0 10px 0 0; position:relative; top:3px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent p{ color:#fff; font-size:16px; padding-bottom:15px;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent p span{ display:block; }
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent .smg{ display:inline-block; font-size:14px; color:#fff; background:#609b34; padding:10px 20px; -webkit-border-radius:2px; border-radius:2px; border:none;}
.company .visitorBox .visitiBoxInner .companyDetails .cmpContent .follow{ display:inline-block; font-size:14px; color:#fff; background:#fbc436; padding:10px 20px; -webkit-border-radius:2px; border-radius:2px; border:none; margin-left:10px;}

.compCover::before { background: none repeat scroll 0 0 #000;  content: "";  height: 100%;  position: absolute;  width: 100%; opacity:0.6;}
.company .coloumn1 aside, .company .coloumn2 .updateStatus{border-top:1px solid #e9e9e9;}

#companyPf header{ border-top:6px solid #000;}
#companyPf .mainNav{ background:url(../images/nav_bg_cmp.jpg) repeat-x 0 0;}
#companyPf .mainNav nav ul li a{ color:#000;}
#companyPf .mainNav nav ul li a:hover{background:#000; color:#fff;}
#companyPf .mainNav nav .viewAs p{ color:#000;}
#companyPf .mainNav nav .viewAs select{ background:#fff;}



.jobDetailsBtn{ bottom: 16px;  display: block;  font-size: 13px;  position:relative; margin:26px 0 0 0;  background: none repeat scroll 0 0 #fbc436;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px; background:#000; hover :#3FF; cursor:pointer;}
.jobDetailsBtn:hover{color:#fff; background:#609b34;}
.jobDetailsBtn:hover, .jobDetailsBtn:focus{color:#fff;}
.jobDetails{}

.btn1{
display: inline-block;
margin-bottom: 0px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding-left:8px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-moz-user-select: none;	
float:right;
margin-right:10px;
}
.btn2{ 
font-family:font-size:16px; font-family: 'Roboto', sans-serif; font-weight:300;	
display: inline-block;
margin-bottom: 0px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding:8px;
font-size: 14px;
border-radius: 2px;
line-height: 1.42857;
-moz-user-select: none;	
float:right; margin-top:10px;

}
.btn3{ 
font-family:font-size:12px; font-family: 'Roboto', sans-serif; font-weight:300;	
display: inline-block;
margin-bottom: 0px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding:4px;
font-size: 14px;
border-radius: 2px;
line-height: 1.42857;
-moz-user-select: none;	
float:right; margin-top:10px;

}
.btn3 a{color:#FFF;}
.myfriendspfpic{
	height:75px;
	overflow:hidden;
}
.btn-green {
    background-color: #609b34;
      color: #fff; margin-right:10px;
}
.btn-green a{color:#FFF;}
/*Profile about*/ 
.ProfileView { padding-right:0;}
.ProfileView .cmpLeft{ padding:0;}
.ProfileView .visitorBox .visitiBoxInner{background:#f9f8f8; margin:-1px 0 10px 0; position:relative; }
.ProfileView .visitorBox .visitiBoxInner .compCover{ width:100%; height:auto; overflow:hidden; position:relative;}
.ProfileView .visitorBox .visitiBoxInner .compCover img{ width:100%; }
.ProfileView .visitorBox .visitiBoxInner .profileLogo{ position:absolute; width:200px; height:223px; left:66px; top:35px; overflow:hidden;}
.ProfileView .visitorBox .visitiBoxInner .profileLogo .cmplogo img{ width:100%; height:110px;}
.ProfileView .visitorBox .visitiBoxInner .profileLogo .cmplogo{ border: 3px solid #fbc436; -webkit-border-radius: 90px 90px 90px 90px;
border-radius: 90px 90px 90px 90px; height: 110px; width: 110px; overflow: hidden;}


.ProfileView .visitorBox .visitiBoxInner .profileLogo .profile-name{ text-transform:uppercase;}
.ProfileView .visitorBox .visitiBoxInner .companyDetails .cmpContent .follow{ display:inline-block; font-size:14px; color:#fff; background:#fbc436; padding:10px 20px; -webkit-border-radius:2px; border-radius:2px; border:none; margin-left:10px;}
.ProfileView .visitorBox .visitiBoxInner .profileLogo .cmplogo .change-photo { background: rgba(251, 196, 54, 0.9); bottom:40px;  color: #000;  display: block;  font-size:12px;
 padding: 6px;  position: absolute;   top: inherit;   width: 50%;}
.ProfileView .visitorBox .visitiBoxInner .change-photo { background: rgba(251, 196, 54, 0.9); bottom:40px;  color: #000;  display: block;  font-size:12px;
 padding: 5px;  position: absolute;   top: inherit;   width: 11%;  margin: 9px 75px;}
/* .ProfileView .visitorBox .visitiBoxInner .change-photo em{ padding-left:6px; text-transform:capitalize; font-style:normal; }
/*.ProfileView .visitorBox .visitiBoxInner .profileLogo .cmplogo span.inside .change-photo { background: rgba(251, 196, 54, 0.9); bottom:40px;  color: #000;  display: block;  font-size:12px; padding: 6px;  position: absolute;   top: inherit;   width: 50%;}*/
.ProfileView .visitorBox .visitiBoxInner .change-photo em{ font-size:9px; font-style:normal; position:relative; top:-2px; left:10px; font-family: 'Roboto', sans-serif; } 
.ProfileView .visitorBox .visitiBoxInner .profileLogo .cmplogo .change-photo em{ font-size:9px; font-style:normal; position:relative; top:-2px; left:10px; font-family: 'Roboto', sans-serif; } 

.profile-name {  bottom: 84px;  color: #ffffff;  font-size: 20px;  font-weight: bold;  letter-spacing: 1px;  position: absolute;  left: 59px;}


.compCover::before { background: none repeat scroll 0 0 #000;  content: "";  height: 100%;  position: absolute;  width:30%; opacity:0.6;}
.ProfileView .coloumn1 aside, .ProfileView .coloumn2 .updateStatus{border-top:1px solid #e9e9e9;}
.nopad{ padding:0 !important;}


.about-user-details{ border:1px solid #e9e9e9; clear:both; margin-left:15px; background-color: #fff;  margin-bottom: 25px;}
.about-user-details h4{ height:58px; line-height:58px; padding:0 15px; background:#fbc436; border-bottom:1px solid #d3d6db; font-size:24px; color:#fff; margin-bottom:20px;}
.about-user-details h4 span{ margin-right:10px; position:relative; /*top:3px;*/}
.about-user-details h4 span.glyphicon{ color:#606060 !important;}

.smallboxes h3{ font-size:16px; font-family: 'Roboto', sans-serif; font-weight:300; color:#646464; /*padding-top:10px;*/ }
.smallboxes ul { list-style:none; }
.smallboxes ul li{ border-bottom:1px solid #efefef; padding-bottom:15px; margin-bottom:15px;}
.iner_lefts{ float: left; width:43px; height:39px; background:#ececec; padding-right:15px; float:left; margin-right:9px;}

.iner_mail{ float: left; padding-right:15px; float:left; margin-right:9px;}

.iner_lefts img{ padding: 11px 0 0 14px;}
.iner_rights{ float:right;}
.graphic{ color:#609b34; font-size:12px; text-align:center; line-height:22px;}
.graphic a{ color:#609b34;}
.graphic a:hover{color:#609b34;}
.iner_lefts .fa{ position:fixed;}
.addresbox ul{ list-style:none;}
.addresbox li{ padding:0; margin:0; float:left; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:300; color:#646464; line-height:22px;}
.addresbox .boxicon{ float:left; padding-right:5px;}
.addresbox .boxicon_text{ float:right;}

.my_companys ul{ list-style:none;}
.my_companys li{ border: 1px solid #eee;  font-size:14px; font-family: 'Roboto', sans-serif; font-weight:300; color:#646464; line-height:22px; margin-bottom:15px;}
.my_companys .company_box_img{ width:143px; height:157px; overflow:hidden; float:left;}
.my_companys .company_box_right{ float:right;}
.my_companys .company_box_right h3{ font-size:18 px; font-family: 'Roboto', sans-serif; font-weight:bold; color:#606060;  padding-top: 15px; border-bottom:1px solid #d5d5d5;  margin-bottom: 10px; }
.my_companys .company_box_right span{  border-bottom: 3px solid #fbc436; line-height: 37px;  padding-bottom: 8px; width: 92px;}
.iner_business ul{ list-style:none;}
.iner_business li{border-bottom: 1px solid #efefef;  padding: 10px 0;}
.iner_business h3{  color: #646464; font-family: "Roboto",sans-serif; font-size: 16px;}
/*My Photos*/
.about-user-details .userPhotos .photoThumb figure{ height:155px !important;}
.about-user-details .userPhotos .photoThumb{ margin-bottom:20px; position:relative; overflow:hidden;}
.about-user-details .userPhotos .photoThumb .phOptions{ position:absolute; bottom:0; background:rgba(0, 0, 0, 0.5); width:86%; height:30px;}
.about-user-details .userPhotos .photoThumb .phOptions span{ position:absolute;}
.about-user-details .userPhotos .photoThumb .phOptions span.mpImg{top:-16px; left:-5px;}
.about-user-details .userPhotos .photoThumb .phOptions span.mpLike{ right:50px; top:4px; margin-right:10px;}
.about-user-details .userPhotos .photoThumb .phOptions span.mpComment{ right:15px; top:4px;}
.about-user-details .userPhotos .photoThumb .phOptions span a em{ color:#c9c9c9; font-style:normal; margin-left:5px; font-size:12px;}
.about-user-details .userPhotos .photoThumb .mpView{ position:absolute; z-index:9; left:50%; margin-left:-36px; top:-42px; opacity:0; }
.about-user-details .userPhotos .photoThumb:hover .mpView{ position:absolute; z-index:9; left:50%; margin-left:-36px; top:39px; opacity:1;}
.about-user-details .userPhotos .photoThumb .mpViewvid{ position:absolute; z-index:9; left:50%; margin-left:-21px; top:-42px; opacity:0; }
.about-user-details .userPhotos .photoThumb:hover .mpViewvid{ position:absolute; z-index:9; left:50%; margin-left:-21px; top:45px; opacity:1;}
.about-user-details{ margin-bottom:15px;}
.profsettings{ width:58px; height:58px; }
.headeruserimg{ width:60px; height:60px; }

.pfname a:hover{ text-decoration:underline; }
.pfname a{color:#337AB7 !important; }
.myphotos-uploadbtn1{
display: inline-block;
margin-bottom: 0px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding-left:8px;
font-size: 14px;
line-height: 2;
border-radius: 4px;
-moz-user-select: none;	
float:right;
margin-right:10px;
margin-top:14px;
}


.myfriends .groupEditBlock li .fdblock .myfriendspfpic{ float:left;}
.myfriends .groupEditBlock li .fdblock .myfriendspfpic img{ height:100% !important;}
.myfriends .friendInfo h3 a{ color:#000; text-transform:capitalize; font-size:15px;}
.mfSearch{ background:#fbc436;}
.mfSearch h4{ margin:0; border:none;}
.mfSearch .input-group{ margin-top:10px;}
.mfSearch .input-group .form-control{ background:#fff; border-radius:0;}
.mfSearch .input-group .input-group-btn .btn{ text-align:center; top:0; background:#000; color:#fff;}



